.numpad {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: .7rem;
    column-gap: .5rem;
    grid-template-areas: 
    "key key key key"
    "key key key key"
    "key key key key"
    "key key key key"
    "r r e e";
    background-color: var(--keypad-toggle-background);
    margin-top: 1.5rem;
    padding: 1.5rem;
    min-height: 420px;
    border-radius: 10px;
}

.key {
    position: relative;
    color: var(--primary-text);
    background-color: var(--key-background-three);
    height: 4rem;
    width: 3.7rem;
    font-size: 32px;
    font-family: 'League Spartan', sans-serif;
    border: none;
    border-radius: 5px;
}

.key::before {
    position: absolute;
    content: '';
    background-color: var(--key-shadow-three);
    height: 5px;
    width: 100%;
    right: 0;
    left: 0;
    bottom: 0;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
}

.del {
    font-size: 1.25rem;
    color: var(--secondary-text);
    background-color: var(--key-background-one);
}

.del::before {
    background-color: var(--key-shadow-one);
}

.reset {
    grid-area: r;
    width: 97%;
    font-size: 1.25rem;
    color: var(--secondary-text);
    background-color: var(--key-background-one);
}

.reset::before {
    background-color: var(--key-shadow-one);
}

.equals {
    grid-area: e;
    width: 97%;
    font-size: 1.25rem;
    color: var(--secondary-text);
    background-color: var(--key-background-two);
}

.equals::before {
    background-color: var(--key-shadow-two);
}