.numpad {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: .7rem;
    column-gap: .5rem;
    grid-template-areas: 
    "key key key key"
    "key key key key"
    "key key key key"
    "key key key key"
    "r r e e";
    background-color: var(--keypad-toggle-background);
    margin-top: 3rem;
    padding: 1rem;
}

.key {
    position: relative;
    background-color: var(--key-background);
    height: 3.5rem;
    width: 3.5rem;
    border: none;
    border-radius: 5px;
}

.key::before {
    position: absolute;
    content: '';
    background-color: var(--key-shadow);
    height: 5px;
    width: 100%;
    right: 0;
    left: 0;
    bottom: 0;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
}

.reset {
    grid-area: r;
}

.equals {
    grid-area: e;
}