.calc-top {
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
    color: var(--primary-text);
}

.calc {
    font-size: 2rem;
}

.theme-switch {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 135px;
}

.theme-switch > p {
    font-size: .8rem;
    margin-bottom: .3rem;
}

.switch {
    position: relative;
}

.theme-number {
    position: absolute;
    bottom: 100%;
    font-size: .8rem;
    margin-bottom: .3rem;
}

.theme-number > span {
    margin-left: .7rem;
}